{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilos/index.css' %}">
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            {% block css %}

            {% endblock css %}
        <title>WepPintura</title>
    </head>

    <body>
        <header>
            <!-- En este apartado se encuentra la base de la pagina web, donde estara toda la informacion principal -->
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">
                        <img class="img-logo" src="{% static 'img/grupo0.png' %}" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mynavbar">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'IND' %}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'FOR' %}">Formulario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'GAL' %}">Galeria</a>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'MAN' %}">Mantenedor</a>
                                </li>
                            {% else %}
                            {% endif %}
                        </ul>
                        <div class="d-flex">
                            {% if user.is_authenticated %}
                                <div class="p-2">
                                    <a class="nav-link" href="#" style="text-decoration: none;color: #ffffff8c;">Bienvenido: {{user.username}}</a>
                                </div>
                            {% else %}
                            {% endif %}
                            <div class="p-2">
                                <div class="collapse_carrito">
                                    <span class="numerador">
                                        <p id="numero-carro"></p>
                                    </span>
                                    <button style="background-color: transparent;"><img src="{% static 'img/shopping-cart-2-line.png' %}" alt="" style="height: 35px;"></button>
                                    <div class="collapse_carrito_on">
                                        <div class="menu_collapse_carrito bg-dark">
                                            <div class="container-fluid" style="height: 100%;">
                                                <div class="row" style="height: 100%;">
                                                    <div class="col-12" style="padding: 10px; height: 100%;">
                                                        <div class="card table-responsive" style="height: 100%;">
                                                            <table class="table table_carrito_collapse" style="width: 100%; vertical-align: middle;">
                                                                <tbody>
                                                                {% if request.session.carrito.items %}
                                                                {% for key, item in request.session.carrito.items %}
                                                                        <tr>
                                                                            <td style="width: 29%">
                                                                                <div style="height: 100%;">
                                                                                    <img src="{{item.foto}}" alt="Card image" style="width: 100%;">
                                                                                </div>
                                                                            </td>
                                                                            <td style="width: 40%;">
                                                                                <table class="table_carrito_collapse_2">
                                                                                    <tr>
                                                                                        <td>{{item.nombre}}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>${{item.total}}</td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                            <td style="width: 30%; text-align: center;">
                                                                                <a href="{% url 'QUITAR_CARRITO' item.idPintura %}">
                                                                                    <button class="btnMasMenos" style="width: 20px; padding: 4px 0px 8px">
                                                                                        <p style="line-height: 0.1;">-</p>
                                                                                    </button>
                                                                                </a>
        
                                                                                <input type="text" value="{{item.cantidad}}" id="stepperInput{{item.idPintura}}" style="width:30%; height: 20px; text-align: center" readonly>
        
                                                                                <a href="{% url 'AGREGAR_CARRITO' item.idPintura %}">
                                                                                    <button class="btnMasMenos" style="width: 20px; padding: 4px 0px 8px">
                                                                                        <p style="line-height: 0.1;">+</p>
                                                                                    </button>
                                                                                </a>
                                                                            </td>
                                                                            <td style="width: 1%;">
                                                                                <a href="{% url 'ELIMINAR_CARRITO' item.idPintura %}">
                                                                                    <img src="{% static 'img/papelera roja.png' %}" alt="">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    {% endif %}
                                                                    <tr class="tr_carr_comp">
                                                                        <td colspan="4">
                                                                            <table style="width: 100%; text-align: center;">
                                                                                <tr class="tr_carr_comp">
                                                                                    <td style="width: 50%;">
                                                                                        <a href="{% url 'CAR' %}">
                                                                                            <button class="btn btn-primary" style="width: 70%;">Ir al carrito</button>
                                                                                        </a>
                                                                                    </td>
                                                                                    <td style="width: 50%;">
                                                                                        <button class="btn btn-success" style="width: 70%;">Comprar</button>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="p-2">
                                    <a href="{% url 'CERRAR' %}"><button style="background-color: transparent;"><img src="{% static 'img/cerrar_sesion.png' %}" alt="" style="height: 35px;"></button></a>
                                </div>
                            {% else %}
                                <div class="p-2">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#loginCollapse" aria-expanded="false" aria-controls="loginCollapse" id="btn-login" onclick="AbrirCortina()"><button style="background-color: transparent;"><img src="{% static 'img/user.png' %}" alt="" style="height: 35px;"></button></a>
                                    <!--<a href="{% url 'LOG' %}"><button style="background-color: transparent;"><img src="{% static 'img/user.png' %}" alt="" style="height: 35px;"></button></a>-->
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
            
            <!-- En este div se encuentra el inicio de sesion y sus direcciones -->
            <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -80%); z-index: 4;">
                <div class="collapse" id="loginCollapse">
                    <div class="container collapse-form">
                        <div class="card">
                            <div style="text-align: right; margin-right: 10px;">
                                <span style="cursor: pointer;" onclick="CerrarCortina()" data-bs-toggle="collapse" data-bs-target="#loginCollapse">X</span>
                            </div>
                            <div class="card-body" style="padding: 0px 20px 20px 20px; width: 600px;">
                                <form action="{% url 'LOG' %}" method="post">
                                    {% csrf_token %}
                                    <h1 class="h3 mb-3 fw-normal">Iniciar sesion</h1>
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="User" id="usuario" name="txtUser" required>
                                        <label for="usuario">Usuario</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="contraseña" placeholder="Password" name="txtPass" required>
                                        <label for="contraseña">Contraseña</label>
                                    </div>
                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" value="remember-me"> Recordar
                                        </label>
                                    </div>
                                    <input type="submit" class="w-100 btn btn-lg btn-primary" type="submit" value="Iniciar Sesion">
                                    <a href="{% url 'REG' %}" style="text-align: center;"><p class="mt-3 mb-3">Registrarse</p></a>
                                    <!--<button class="w-100 btn btn-lg btn-primary" type="submit" onclick="IniciarSesion()">Iniciar Sesion</button>-->
                                    <!--<button class="w-100 btn btn-lg btn-primary" type="submit" onclick="validarcorreo()">Validar Datos</button>-->
                                </form>
                                <p class="mt-3 mb-3 text-muted text-center">&copy; 2023 Todo los derechos reservados</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <main>
            <!-- este div llamado cortina es el efecto que se logra dar a la hora de apretar el boton para iniciar sesion-->
            <div class="cortina" id="cortina">
            </div>
            <section>
                {% block contenido %}

                {% endblock contenido %}
            </section>
        </main>
        <footer>
            <div class="mt-5 p-3 bg-dark text-white text-center">
                <p>Footer</p>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    </body>
</html>