{% extends "base.html" %}
{% load static %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid container-mantenedor">
                    <div class="row" id="divRowCarrito">
                        
                    </div>
                    <div class="p-2" id="detalle-carrito2" style="display: flex; flex-wrap: wrap; justify-content: center; width: 100%; border-bottom: solid #DEE2E6 1px; margin-bottom: 10px; margin-top: 0px">
                        <div style="display: flex; width: 75%;">
                            <p style="width: 50%;">Cantidad Productos</p>
                            <p style="width: 50%; text-align: right;" id="cantidad_carrito2"></p>
                        </div>
                        <div style="display: flex; width: 75%;">
                            <p style="width: 50%;">Precio Bruto</p>
                            <p style="width: 50%; text-align: right;" id="precio_bruto2"></p>
                        </div>
                        <div style="display: flex; width: 75%;">
                            <p style="width: 50%;">Bruto+IVA(19%)</p>
                            <p style="width: 50%; text-align: right;" id="precio_coniva2"></p>
                        </div>
                        <div style="display: flex; width: 75%;">
                            <p style="width: 50%;">Descuento</p>
                            <p style="width: 50%; text-align: right;" id="porcentaje_descuento2"></p>
                        </div>
                        <div style="display: flex; width: 75%; margin-top: 10px; font-weight: bolder; font-size: 18px;">
                            <p style="width: 50%;">Total</p>
                            <p style="width: 50%; text-align: right;" id="precio_total2"></p>
                        </div>
                    </div>
                    <div style="display: flex; width: 100%; justify-content: center;">
                        <div style="width: 100%; text-align: center;" id="btnIrCarrito2">
                            <button class="btn btn-success" id="btnComprar" style="width: 70%;">Comprar</button>
                        </div>
                    </div>
                    <div id="btnLimpiar2" style="width: 100%; text-align: center; display: none;">
                        <button class="btn btn-danger" onclick="limpiarCarrito()" style="width: 70%; margin-top: 15px; margin-bottom: 20px;">Limpiar Carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script src="{% static 'js/carritoPage.js' %}"></script>
{% endblock js %}