{% extends "base.html" %}
{% load static %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid container-mantenedor">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="h1-fondo">Carrito de compras</h1>
                        </div>
                        {% if request.session.carrito.items %}
                        {% for key, item in request.session.carrito.items %}
                                <div class="col-12">
                                    <div class="card p-2">
                                        <div class="table-responsive p-2">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Imagen</th>
                                                        <th>Nombre</th>
                                                        <th>Cantidad</th>
                                                        <th>Precio</th>
                                                        <th>Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:5%; font-size: 26px"><strong>#{{item.idPintura}}</strong></td>
                                                        <td style="width:25%"><img src="{{item.foto}}" alt="Card image" style="object-fit: cover; width: 100%;"></td>
                                                        <td style="width:30%">{{item.nombre}}</td>
                                                        <td style="width: 30%; text-align: center;">
                                                            <a href="{% url 'QUITAR_CARRITO' item.idPintura %}">
                                                                <button class="btnMasMenos" style="width: 20px; padding: 4px 0px 8px">
                                                                    <p style="line-height: 0.1;">-</p>
                                                                </button>
                                                            </a>

                                                            <input type="text" value="{{item.cantidad}}" id="stepperInput{{item.idPintura}}" style="width:30%; height: 20px; text-align: center" readonly>

                                                            <a href="{% url 'AGREGAR_CARRITO' item.idPintura %}">
                                                                <button class="btnMasMenos" style="width: 20px; padding: 4px 0px 8px">
                                                                    <p style="line-height: 0.1;">+</p>
                                                                </button>
                                                            </a>
                                                        </td>
                                                        <td style="width:18%">{{item.total}}</td>
                                                        <td style="width:10%">
                                                            <div class="form-group">
                                                                <a href="{% url 'ELIMINAR_CARRITO' item.idPintura %}">
                                                                    <button class="form-control btn-danger m-2">Eliminar</button>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}